.root {
  -fx-base: #000000;
  -fx-background: #222222;

  -fx-accent: blue;
  -fx-focus-color: -fx-accent;
}

.label {
  -fx-text-fill: lightgray;
}

Text{
  -fx-fill: lightgray;
}

.combo-box {
  -fx-background-color: #0a0a0a;
  -fx-text-fill: lightgray;
}

.combo-box-popup .list-cell {
  -fx-background-color: #000000;
  -fx-text-fill: lightgray;
}

.combo-box-popup .list-cell:hover {
  -fx-background-color: -fx-accent;
}

.menu-item {
  -fx-background-color: #0a0a0a;
  -fx-text-fill: lightgray;
}

.menu-item .list-cell {
  -fx-background-color: #000000;
  -fx-text-fill: lightgray;
}

.menu-item .list-cell:hover {
  -fx-background-color: -fx-accent;
}

#lineChart {
  .chart-plot-background {
    -fx-background-color: transparent;
  }

  .default-color0.chart-series-line {
    -fx-stroke: #1E90FF;
  }

  .default-color0.chart-line-symbol {
    -fx-background-color: #1E90FF, darkgray;
  }

  .default-color1.chart-series-line {
    -fx-stroke: #FFA500;
  }

  .default-color1.chart-line-symbol {
    -fx-background-color: #FFA500, darkgray;
  }
}

#barChart {
  .default-color0.chart-bar {
    -fx-bar-fill: #1E90FF;
  }

  .default-color1.chart-bar {
    -fx-bar-fill: #FFA500;
  }
}

.chart-line-symbol {
  -fx-scale-x: 0.75;
  -fx-scale-y: 0.75;
}

.chart-title {
  -fx-wrap-text: true;
}

.tooltip {
  -fx-font-size: 12px;
  -fx-background-color: #333;
  -fx-text-fill: #f2f2f2;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
  -fx-fill: null;
  -fx-stroke: lightgray;
}

.text-field {
  -fx-background-color: #111111;
  -fx-text-fill: lightgray;
}

.password-field {
  -fx-background-color: #111111;
  -fx-text-fill: lightgray;
}